<div class="footer">
    <center>
        <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=OVpRUFxRF1FWeUhIF1pWVA"
            style="text-decoration:none;"><img
                src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_01.png" /></a>
    </center>
    <center>
        <a href="https://beian.miit.gov.cn/" target="_blank">皖ICP备19020628号-1</a>
    </center>
    <center>
        <span>Copyright © 2022 <%= config.title %></span>
    </center>
<%- css('css/a11y-dark.min.css') %>
<%- js('js/highlight.min.js') %>
<%- js('js/highlightjs-line-numbers.js') %>

<script>
    hljs.initHighlightingOnLoad();
    hljs.initLineNumbersOnLoad();
</script>
