<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <div id="wrapper">
    <%- partial('_partial/header') %>
    <div id="content">
      <%- body %>
    </div>
  </div>
  <%- partial('_partial/footer') %>
  <center>
    <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=OVpRUFxRF1FWeUhIF1pWVA" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_01.png" /></a>
    <a href="https://beian.miit.gov.cn/" target="_blank">皖ICP备19020628号-1</a>
  </center>
</body>
</html>
