<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <div id="wrapper">
    <%- partial('_partial/header') %>
    <div id="content">
      <%- body %>
    </div>
  </div>
  <%- partial('_partial/footer') %>
  <center>
    <a href="https://beian.miit.gov.cn/" target="_blank">皖ICP备19020628号-1</a>
  </center>
</body>
</html>
